RewriteEngine on
RewriteCond $1 !^(index\.php|css|js|img|uploads|reports)
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
AuthName "/login"
AuthUserFile "/home/videoacc/.htpasswds/public_html/syscbctlmonitoreo/passwd"
