body {
    
  background-color:#f4f4f4;
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 80px;
}

.form-signin, .form-resto {
  max-width: 340px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom:10px;
}

.form-signin .form-control, .form-resto {
  position: relative;
  font-size: 12px;
  height: auto;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-descargas {
  max-width: 340px;
  padding: 30px;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-bottom:10px;
}

.form-descargas {
  position: relative;
  font-size: 12px;
  height: auto;
  padding: 8px;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  font-size:12px;
  background-color:#F4F4F4;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  font-size:12px;
  background-color:#F4F4F4;
}
